body {
    height: 3000px;
}

/* <!-- -----------Exercise14a---------- --> */

.bottom-right {
    position: fixed;
    background-color: black;
    color: white;
    font-size: 30px;
    bottom: 20px;
    right: 20px;
    margin-right: 100px;
    border: 1px solid white;
}
/* <!-- -----------Exercise14b---------- --> */
.right-sidebar {
    position: fixed;
    background-color: green;
    color: white;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    
}

    /* <!-- -----------Exercise14c---------- --> */

    .cover-entire-page {
        position: fixed;
        background-color: black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /* ----------------------------------------------------------- */
    /* -----------------------CHALLENGES--------------------------
    ----------------------------------------------------------- */

    .right-sidebar- {
        position: fixed;
        background-color: green;
        color: white;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100px;
        
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal {
        background-color: white;
        width: 300px;
        padding: 15px;
        border-radius: 5px;
    }

    .modal-title {
        font-family: Arial;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 12px;
      }
      
      .modal-content {
        font-family: Arial;
        margin-bottom: 12px;
      }























